body{
  overflow-x: hidden;
}
.landing-page{
    position: relative;
    width: 100vw;
    height: 100vh;
}


 /* -----------------------------------------------Start @media all and (max-width:1496px)-------------------------------------------------- */
/* @media screen and (max-width:1496px) and (min-width:1000px){ */
 /* -----------------------------------------------END @media all and (max-width:1496px)-------------------------------------------------- */

 /* -----------------------------------------------Start @media all and (max-width:1000px)-------------------------------------------------- */
/* @media screen and (max-width:1000px) and (min-width:700px){ */
 /* -----------------------------------------------END @media all and (max-width:1000px)-------------------------------------------------- */

 /* -----------------------------------------------Start @media all and (max-width:700px)-------------------------------------------------- */
/* @media screen and (max-width:700px) and (min-width:450px){ */
 /* -----------------------------------------------END @media all and (max-width:700px)-------------------------------------------------- */

 /* -----------------------------------------------Start @media all and (max-width:450px)-------------------------------------------------- */
/* @media screen and (max-width:450px) and (min-width:360px){ */
 /* -----------------------------------------------END @media all and (max-width:450px)-------------------------------------------------- */

/*------------------------------------------------------------------------- Nav Bar ----------------------------------------------------*/

.navBar{
    box-sizing: border-box;
    position:fixed ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color:rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 10;
    
}
.navUl{ 
    font-family: 'Work Sans', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

.navBar-links li{
    list-style: none;
    position: relative;
    left: -12em;
}

.navBar-links li a{
    text-decoration: none;
    color: #1d1c1c;
    font-size: 11.5px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem;
    display: block;
    
 
}

.navBar-links li a:hover{
color: rgb(177, 177, 177);
}

.brand-logo img{
    position: relative;
    width: 9em;
    height: auto;
  
 }

 .toggle-button{
     position: absolute;
     top: .75rem;
     right: 1rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;
 }
 .toggle-button .bar{
     height: 3px;
     width: 100%;
     background-color: black;
     border-radius: 10px;
 }

 /*------------------------------------------------------------------------- @media (max-width:600px) ----------------------------------------------------*/
 @media screen and (max-width:700px) and (min-width:450px){
    .toggle-button{
        display: flex;
    }
    .navBar-links{
        width: 100%;
        display: none;
    }
    .navBar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navBar-links ul{
        flex-direction: column;
    }
    .navBar-links li{
        text-align: center;
        left: -10em;
    }
    .navBar-links li a{
      padding: .5rem 1rem;
      font-size: 3em;
    }
    .navBar-links.active{
        display: flex;
        justify-content: center;
    }
    .brand-logo img{
      position: relative;
    width: 18em;
    height: auto;
    }
    /* .brand-logo img{
      position: relative;
      width: 13em;
      height: auto;
      left: 33em;
      top: 3px;
    
   } */
}
 /*------------------------------------------------------------------------- END OF @media (max-width:600px) ----------------------------------------------------*/

 /*------------------------------------------------------------------------- @media screen and (max-width:600px) and (min-width:450  px) ----------------------------------------------------*/

@media screen and (max-width:450px) and (min-width:360px){
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 63px;
    height: 34px;
  }
    .toggle-button{
        display: flex;
    }
    .navBar-links{
        width: 100%;
        display: none;
    }
    .navBar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navBar-links ul{
        flex-direction: column;
    }
    .navBar-links li{
        text-align: center;
        left: -10em;
    }
    .navBar-links li a{
      padding: .5rem 1rem;
      font-size: 4em;
    }
    .navBar-links.active{
        display: flex;
        justify-content: center;
        
    }
    .brand-logo img{
      position: relative;
    width: 18em;
    height: auto;
    }
}
@media (max-width:1000px) {
    .navBar-links{
        position: relative;
        left: 10em;
    }
}

 /*------------------------------------------------------------------------- END OF  @media screen and (max-width:600px) and (min-width:450  px) ----------------------------------------------------*/

/*----------------------------------------------------------------------- END OF  Nav Bar --------------------------------------------------*/

/* <!-----------------------------------------------------------image slider start------------------------------------------------------> */

.slider{
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    overflow: hidden;
    background-color: cadetblue;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 3s;
  }
  .slide img{
    width: 100vw;
    height: 100vh;
  }

  /*css for manual slide navigation*/

  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    top: 46em;
    left: 24em;
  }
  .manual-btn{
    border: 2px solid #7b7c7c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  .manual-btn:hover{
    background: #7b7c7c;
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  

  /*css for automatic navigation*/

  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    top: 14.78em;
    left: 24em;
  }
  .navigation-auto div{
    border: 2px solid #7b7c7c;
    padding: 5px;
    border-radius: 10px;
    transition: 5s;
    transition-delay: 1s;
   
  }
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
   
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #7b7c7c;
    transition-delay: 1s;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #7b7c7c;
    transition: transform 5s;
    transition-delay: 5s;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #7b7c7c;
    transition: transform 5s;
    transition-delay: 5s;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #7b7c7c;
    transition: transform 5s;
    transition-delay: 5s;
  }
   /* -----------------------------------------------Start @media all and (max-width:1500px)-------------------------------------------------- */

   @media screen and (max-width:1496px) and (min-width:1000px){
    .slider{
      width: 120vw;
      height: 120vh;
      border-radius: 0;
      overflow: hidden;
      background-color: cadetblue;
  }
  .slides{
      width: 500%;
      height: 500px;
      display: flex;
    }
    .slides input{
      display: none;
    }
    .slide{
      width: 20%;
      transition: 3s;
    }
    .slide img{
      width: 120vw;
      height: 120vh;
    }
  
    /*css for manual slide navigation*/
  
    .navigation-manual{
      position: absolute;
      width: 800px;
      margin-top: -40px;
      display: flex;
      justify-content: center;
      left: 17em;
      top: 37em;
    }
    .manual-btn{
      border: 2px solid #7b7c7c;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      transition: 1s;
    }
    .manual-btn:not(:last-child){
      margin-right: 40px;
    }
    .manual-btn:hover{
      background: #7b7c7c;
    }
    #radio1:checked ~ .first{
      margin-left: 0;
    }
    #radio2:checked ~ .first{
      margin-left: -20%;
    }
    #radio3:checked ~ .first{
      margin-left: -40%;
    }
    #radio4:checked ~ .first{
      margin-left: -60%;
    }
    
  
    /*css for automatic navigation*/
  
    .navigation-auto{
      position: absolute;
      display: flex;
      width: 800px;
      justify-content: center;
      margin-top: 460px;
      top: 5.78em;
      left: 17em;
    }
    .navigation-auto div{
      border: 2px solid #7b7c7c;
      padding: 5px;
      border-radius: 10px;
      transition: 5s;
      transition-delay: 1s;
     
    }
    .navigation-auto div:not(:last-child){
      margin-right: 40px;
     
    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
      background: #7b7c7c;
      transition-delay: 1s;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
      background: #7b7c7c;
      transition: transform 5s;
      transition-delay: 5s;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
      background: #7b7c7c;
      transition: transform 5s;
      transition-delay: 5s;
    }
    
    #radio4:checked ~ .navigation-auto .auto-btn4{
      background: #7b7c7c;
      transition: transform 5s;
      transition-delay: 5s;
    }
   }
                                          
     /* -----------------------------------------------END @media all and (max-width:1500px)-------------------------------------------------- */

 /* -----------------------------------------------Start @media all and (max-width:150px)-------------------------------------------------- */

  @media screen and (max-width:1000px) and (min-width:700px){
   
.slider{
  width: 153vw;
  height: 100vh;
  border-radius: 0;
  overflow: hidden;
  background-color: cadetblue;
}
.slides{
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 3s;
}
.slide img{
  width: 153vw;
  height: 100vh;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  left: 17em;
  top: 37em;
}
.manual-btn{
  border: 2px solid #7b7c7c;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 40px;
}
.manual-btn:hover{
  background: #7b7c7c;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}
#radio4:checked ~ .first{
  margin-left: -60%;
}


/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  top: 5.78em;
  left: 17em;
}
.navigation-auto div{
  border: 2px solid #7b7c7c;
  padding: 5px;
  border-radius: 10px;
  transition: 5s;
  transition-delay: 1s;
 
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
 
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #7b7c7c;
  transition-delay: 1s;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #7b7c7c;
  transition: transform 5s;
  transition-delay: 5s;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #7b7c7c;
  transition: transform 5s;
  transition-delay: 5s;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #7b7c7c;
  transition: transform 5s;
  transition-delay: 5s;
}
    
  }

 /* ------------------------------------------------END @media all and (max-width:1500px)---------------------------------------------- */
                              
  /* -----------------------------------------------Start @media all and (max-width:560px)-------------------------------------------------- */

  @media screen and (max-width:700px) and (min-width:450px){
    .slider{
      width: 223.1vw;
      height: 109vh;
      position: relative;
      top: 6.4em;
        border-radius: 0;
        overflow: hidden;
        background-color: cadetblue;
    }
    .slides{
        width: 500%;
        height: 40.5em;
        display: flex;
      }
      .slides input{
        display: none;
      }
      .slide{
        width: 20%;
        transition: 2s;
      }
      .slide img{
        width: 223.1vw;
        height: 109vh;
      }
    
      /*css for manual slide navigation*/
    
      .navigation-manual{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
        top: 39.3em;
      }
      .manual-btn{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      .manual-btn:hover{
        background: #7b7c7c;
      }
      #radio1:checked ~ .first{
        margin-left: 0;
      }
      #radio2:checked ~ .first{
        margin-left: -20%;
      }
      #radio3:checked ~ .first{
        margin-left: -40%;
      }
      #radio4:checked ~ .first{
        margin-left: -60%;
      }
      
    
      /*css for automatic navigation*/
    
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 800px;
        justify-content: center;
        margin-top: 460px;
        top: 8em;
      }
      .navigation-auto div{
        border: 2px solid #7b7c7c;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
      }
      .navigation-auto div:not(:last-child){
        margin-right: 40px;
      }
      #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #7b7c7c;
      }
      
      #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #7b7c7c;
      }
      
      #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #7b7c7c;
      }
      
      #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #7b7c7c;
      }
    
  }

 /* ------------------------------------------------Start @media all and (max-width:600px)---------------------------------------------- */


  @media screen and (max-width:450px) and (min-width:360px){
    .slider{
      width: 279.2vw;
      height: 109vh;
      position: relative;
      top: 6.2em;
        border-radius: 0;
        overflow: hidden;
        background-color: cadetblue;
    }
    .slides{
        width: 500%;
        height: 40.5em;
        display: flex;
      }
      .slides input{
        display: none;
      }
      .slide{
        width: 20%;
        transition: 2s;
      }
      .slide img{
        width: 279vw;
        height: 109vh;
      }
      /*css for manual slide navigation*/
    
      .navigation-manual{
        position: absolute;
        width: 800px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
        left: 8em;
        top: 40em;
      }
      .manual-btn{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      .manual-btn:not(:last-child){
        margin-right: 40px;
      }
      .manual-btn:hover{
        background: #7b7c7c;
      }
      #radio1:checked ~ .first{
        margin-left: 0;
      }
      #radio2:checked ~ .first{
        margin-left: -20%;
      }
      #radio3:checked ~ .first{
        margin-left: -40%;
      }
      #radio4:checked ~ .first{
        margin-left: -60%;
      }
      
    
      /*css for automatic navigation*/
    
      .navigation-auto{
        position: absolute;
        display: flex;
        width: 800px;
        justify-content: center;
        margin-top: 460px;
        left: 8em;
        top: 40em;
      }
      .navigation-auto div{
        border: 2px solid #40D3DC;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
      }
      .navigation-auto div:not(:last-child){
        margin-right: 40px;
      }
      #radio1:checked ~ .navigation-auto .auto-btn1{
        background: #7b7c7c;
      }
      
      #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #7b7c7c;
      }
      
      #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #7b7c7c;
      }
      
      #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #7b7c7c;
      }
    
  }

/* <!------------------------------------------------------------image slider end-----------------------------------------------------> */

.AboutMe{
  position: relative;
  width: 100vw;
  height: 100vh;
  /* background-color: cadetblue; */
}
.aboutMeTo{
  position: relative;
  left: 4em;
  top: 1px;
}
.aboutme-Topic h4{
  position: relative;
  left: 4em;
  top: 1px;
  color: #1abc9c;
  line-height: 25px;
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: none;
  line-height: 1em;
}
.aboutme-Topic-tag h2{
  color: #666666;
  line-height: 25px;
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -1px;
  text-transform: none;
  position: relative;
  left: 11.6em;
  top: -52px;
}
.aboutMe-P{
  position: relative;
  width: 62em;
  left: 15.3em;
  bottom: 3.4em;
}
.aboutMe-P{
  color: #666666;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  line-height: 26px;
  font-style: normal;
  font-weight: 500;

}
 /* -----------------------------------------------Start @media all and (max-width:1496px)-------------------------------------------------- */
 @media screen and (max-width:1496px) and (min-width:1000px){
  .AboutMe{
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 7em;

    /* background-color: cadetblue; */
  }
  .aboutme-Topic h4{
    position: relative;
    left: 4em;
    top: 1px;
    color: #1abc9c;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: none;
    line-height: 1em;
  }
  .aboutme-Topic-tag h2{
    color: #666666;
    line-height: 25px;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: none;
    position: relative;
    left: 11.6em;
    top: -52px;
  }
  .aboutMe-P{
    position: relative;
    width: 62em;
    left: 15.3em;
    bottom: 3.4em;
  }
  .aboutMe-P{
    color: #666666;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    line-height: 26px;
    font-style: normal;
    font-weight: 500;
  
  }
 }
 /* -----------------------------------------------END @media all and (max-width:1496px)-------------------------------------------------- */

 /* -----------------------------------------------Start @media all and (max-width:1000px)-------------------------------------------------- */
/* @media screen and (max-width:1000px) and (min-width:700px){ */
 /* -----------------------------------------------END @media all and (max-width:1000px)-------------------------------------------------- */

 /* -----------------------------------------------Start @media all and (max-width:700px)-------------------------------------------------- */
 @media screen and (max-width:700px) and (min-width:450px){
  .AboutMe{
    position: relative;
    width: 192vw;
    height: 100vh;
    top: 8em;
    left: -4em;
    /* background-color: cadetblue; */
  }
  .aboutme-Topic h4{
    position: relative;
    left: 4em;
    top: 1px;
    color: #1abc9c;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: none;
    line-height: 1em;
  }
  .aboutme-Topic-tag h2{
    color: #666666;
    line-height: 25px;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: none;
    position: relative;
    left: 11.6em;
    top: -52px;
  }
  .aboutMe-P{
    position: relative;
    width: 62em;
    left: 15.3em;
    bottom: 3.4em;
  }
  .aboutMe-P{
    color: #666666;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    line-height: 26px;
    font-style: normal;
    font-weight: 500;
  
  }
 }
 /* -----------------------------------------------END @media all and (max-width:700px)-------------------------------------------------- */

 /* -----------------------------------------------Start @media all and (max-width:450px)-------------------------------------------------- */
 @media screen and (max-width:450px) and (min-width:360px){
  .AboutMe{
    position: relative;
    width: 208vw;
    height: 123vh;
    top: 8em;
    /* left: -1em;
    /* background-color: cadetblue; */
  }
  .aboutme-Topic h4{
    position: relative;
    left: 1em;
    top: 1px;
    color: #1abc9c;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 5em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: none;
    line-height: 1em;
  }
  .aboutme-Topic-tag h2{
    color: #666666;
    line-height: 38px;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: none;
    position: relative;
    left: 2.5em;
    top: -82px;
  }
  .aboutMe-P{
    position: relative;
    width: 62em;
    left: 6.3em;
    bottom: 3.4em;
  }
  .aboutMe-P p{
    color: #666666;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
    font-weight: 500;
  
  }
 }
 /* -----------------------------------------------END @media all and (max-width:450px)-------------------------------------------------- */