* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landingPage{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.owl-carousel {
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-1 {
    background-image: url(bg-1.jpg);
}

.slide-2 {
    background-image: url(bg-2.jpg);
}

.slide-3 {
    background-image: url(bg-3.jpg);
}

.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0 20%;
}

.slide-content h1 {
    font-family: "Anton", serif;
    font-size: 45px;
    text-transform: uppercase;
}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.slide-content button {
    font-family: "Roboto", serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}

.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background:none !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}


.navBar{
    box-sizing: border-box;
    position:fixed ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color:rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 10;
    
}
.navUl{ 
    font-family: 'Work Sans', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

.navBar-links li{
    list-style: none;
    position: relative;
    left: -12em;
}

.navBar-links li a{
  text-decoration: none;
  color: #1d1c1c;
  font-size: 14.5px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 1rem;
  display: block;
    
 
}

.navBar-links li a:hover{
color: rgb(177, 177, 177);
}

.brand-logo img{
    position: relative;
    width: 13em;
    height: auto;
  
 }

 .toggle-button{
     position: absolute;
     top: .75rem;
     right: 1rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;
 }
 .toggle-button .bar{
     height: 3px;
     width: 100%;
     background-color: black;
     border-radius: 10px;
 }
 @media screen and (max-width:700px) and (min-width:450px){
    .toggle-button{
        display: flex;
    }
    .navBar-links{
        width: 100%;
        display: none;
    }
    .navBar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navBar-links ul{
        flex-direction: column;
    }
    .navBar-links li{
        text-align: center;
        left: -10em;
    }
    .navBar-links li a{
      padding: .5rem 1rem;
      font-size: 3em;
    }
    .navBar-links.active{
        display: flex;
        justify-content: center;
    }
    .brand-logo img{
      position: relative;
    width: 18em;
    height: auto;
    }
}
/*------------------------------------------------------------------------- @media screen and (max-width:600px) and (min-width:450  px) ----------------------------------------------------*/

@media screen and (max-width:450px) and (min-width:360px){
    .toggle-button {
      position: absolute;
      top: 1.75rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 63px;
      height: 34px;
    }
      .toggle-button{
          display: flex;
      }
      .navBar-links{
          width: 100%;
          display: none;
      }
      .navBar{
          flex-direction: column;
          align-items: flex-start;
      }
      .navBar-links ul{
          flex-direction: column;
      }
      .navBar-links li{
          text-align: center;
          left: -10em;
      }
      .navBar-links li a{
        padding: .5rem 1rem;
        font-size: 4em;
      }
      .navBar-links.active{
          display: flex;
          justify-content: center;
          
      }
      .brand-logo img{
        position: relative;
      width: 18em;
      height: auto;
      }
  }
  @media (max-width:1000px) {
      .navBar-links{
          position: relative;
          left: 10em;
      }
  }
  
   /*------------------------------------------------------------------------- END OF  @media screen and (max-width:600px) and (min-width:450  px) ----------------------------------------------------*/

   
   /*----------------------------------------------------------------------- AboutMe --------------------------------------------------*/
.AboutMe{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.aboutme-Topic h4{
    display: flex;
    justify-content: center;
    margin-top: 92px;
    /* margin-right: 2.4em; */
    color: #1abc9c;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
    text-transform: none;
    line-height: 1em;

  }
  
.aboutme-Topic-tag h2{
    display: flex;
    justify-content: center;
    /* margin-right: 17.4em; */
    margin-top: 8px;
    color: #666666;
    line-height: 37px;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;

  }
  
.aboutMe-P p{

    display: flex;
    /* margin-right: 42em; */
    /* transform: translate(32%, 30px); */
    color: #666666;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
    font-weight: 600;
  
  }
  .aboutMe-P{
      display: flex;

  }
  
/*----------------------------------------------- Item-Slider -----------------------------------------------*/

.slider{
    max-width: 1100px;
    display: flex;
  }
  .slider .card{
    flex: 1;
    margin: 0 10px;
    background: #fff;
  }
  .slider .card .img{
    height: 200px;
    width: 100%;
  }
  .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slider .card .content{
    padding: 10px 20px;
  }
  .card .content .title{
    font-size: 25px;
    font-weight: 600;
  }
  .card .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #E74C3C;
    line-height: 20px;
  }
  .card .content p{
    text-align: justify;
    margin: 10px 0;
  }
  .card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
  }
  .card .content .btn button{
    background: #E74C3C;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  .card .content .btn button:hover{
    transform: scale(0.9);
  }