.navBar{
  box-sizing: border-box;
  position:fixed ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color:rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 10;
  
}
.navUl{ 
  font-family: 'Work Sans', sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  left: -12em;
}

.navBar-links li{
  list-style: none;
  position: relative;
  left: -12em;
}

.navBar-links li a{
text-decoration: none;
color: #1d1c1c;
font-size: 14.5px;
font-weight: 900;
letter-spacing: 2px;
padding: 1rem;
display: block;
  

}

.navBar-links li a:hover{
color: rgb(177, 177, 177);
}

.brand-logo h2{
  color: #1d1c1c;
  font-size: 14.5px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: 'Work Sans', sans-serif;


}

.toggle-button{
   position: absolute;
   top: .75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
}
.toggle-button .bar{
   height: 3px;
   width: 100%;
   background-color: black;
   border-radius: 10px;
}
/* /*-------------------------------------------------------Landing Page/*-------------------------------------------------------*/
@media screen and (max-width:460px) and (min-width:360px){
  
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 63px;
    height: 34px;
  }
    .toggle-button{
        display: flex;
    }
    .navBar-links{
        width: 100%;
        display: none;
    }
    .navBar{
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      width: 400vw;
      height: 11em;
    }
    .navBar-links ul{
        flex-direction: column;
    }
    .navBar-links li{
        text-align: center;
        left: -10em;
    }
    .navBar-links li a{
      padding: .5rem 1rem;
      font-size: 4em;
    }
    .navBar-links.active{
        display: flex;
        justify-content: center;
        
    }
    .brand-logo img{
      position: relative;
    width: 18em;
    height: auto;
    }
    .brand-logo h2 {
      color: #1d1c1c;
      font-size: 6em;
      top: -47px;
      position: relative;
      font-weight: 900;
      letter-spacing: 2px;
      font-family: 'Work Sans', sans-serif;
  }
    .navUl {
      list-style: none;
      font-family: 'Play', sans-serif;
      font-size: 40px;
      position: absolute;
      top: 20em;
      left: 28em;
      width: 551vw;
      letter-spacing: 60px;
      opacity: 0.4;
      background: #98939e;
      transform: translate(-50%, -50%);
  }
}

      /*-------------------------------------------------------Media phone-X 360px landing page---------------------------------------- */
  
      @media screen and (max-width:460px) and (min-width:360px) {
        .landing_page{
          position: relative;
          width: 401vw;
          height: 397vh;
          top: -4em;
         
          
      }
        /* .contact a{
          color: rgb(255, 253, 253)    ;
        
        }
        .contact { 
          background-color:#f89d36 ;
          border: 2px solid #f89d36 ;
          border-radius: 8px;
          font-size: 16px;    
          left: 364px;
          font-weight: 600;
          border: 2px solid rgb(255, 255, 255);
          font-family: 'Ubuntu', sans-serif;
        
        }
        .contact:hover{
          background-color: #ffc40c ;
          transition: 1s;
        } */
        .header-area h2 {
          position: relative;
          font-size: 1.2em;
          display: inline;
          right: 1em;
          width: 129%;
      }
        .first_word1{
          position: absolute;
          width: 100%;
          height: 200px;
          /* left: -655px; */
          top: 0;
          right: -3.8em;
          bottom: 0;
          margin: auto;
          padding: 0;
          font-size: 186px;
          z-index: 5;
          font-weight: 900;
        } 
        
        .first_word2{
          font-family: 'Noto Sans TC', sans-serif;
          position: absolute;
          width: 200px;
          height: 200px;
          left: 0em;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 5;
          margin: auto;
          font-size: 186px;
          color: #f89d36;
          font-weight: 900;
        }
        .first_word3{
          font-family: 'Noto Sans TC', sans-serif;
          width: 100%;
          height: 200px;
          position: absolute;
          left: 2em;
          /* right: 0; */
          bottom: 0;
          top: 597px;
          z-index: 5;
          margin: auto;
          font-size: 105px;
        }
        .first_word3::before{
          content: " ";
        
        }
        .fb {
          position: absolute;
          top: 131em;
          /* right: -420px; */
          margin: auto;
          width: 15em;
          left: -73em;
          height: 14em;
          border: 1px solid #f89d36;
          border-radius: 20%;
          z-index: 9999;
      }
        .landimg img{
          width: 82em;
          height: 342vh;
          position: absolute;
          right: 0px;
          top: 62px;
        }
        .lanimg2 img{
          width: 800px;
          height: 100vh;
          position: absolute;
          right: 0;
        }
        /* png-transparent-place-vertu-management-brand-business-company-fb-miscellaneous-service-vector-icons-removebg-preview 1 */
        .fb>img:nth-child(1){
          position: absolute;
          top: 4px;
          bottom: 0;
          right: 404px;
          left: 3px;
          margin: auto;
          width: 15em;
          height: 8em;
        }
        .link{
          position: absolute;
          top: 131em;
          /* right: -420px; */
          margin: auto;
          width: 15em;
          left: -22em;
          height: 14em;
          border: 1px solid #f89d36;
          border-radius: 20%;
          z-index: 9999;
        }
        .link>img{
          position: absolute;
          top: 1px;
          bottom: 0;
          right: 0;
          left: 2px;
          margin: auto;
          width: 11em;
          height: 7em;
        }
        .insta{
          position: absolute;
          top: 131em;
          /* right: -420px; */
          margin: auto;
          left: 19em;
          width: 15em;
          height: 14em;
          border: 1px solid #f89d36;
          border-radius: 20%;
          z-index: 9999;
        }
        .insta>img{
          position: absolute;
          top: 1px;
          bottom: 0;
          right: -56px;
          left: -55px;
          margin: auto;
          width: 15em;
          height: 8em;
        }
        
        
        .description1{
          position: absolute;
          right: 0;
          left: 0;
          bottom: 9px;
          margin: auto;
          width: 1007px;
          height: 147px;
          border-top-left-radius: 55px;
          border-top-right-radius:55px ;
          display: flex;
          justify-content: flex-start;
          background-color: 8C8C8C;
        
        
        }
        .des1{
          display: inline;
          border-top-left-radius: 50px;
          width: calc(100%/3);
          height: calc(100%);
          position: relative;
          left: 22px;
          top: 14px;
        }
        .des1 .d_11{
          color: black;
          font-size: 20px;
        
        }
        .des1 .d_12{
          color: 777777;
          font-size: 15px;
        }
        .des1 .d_13{
          color: #f89d36;
          font-size: 16px;
        }
        .des2{
          display: inline;
          width: calc(100%/3);
          height: calc(100%);
          position: relative;
          left: 22px;
          top: 14px;
        }
        .des2 .d_21{
          color: black;
          font-size: 20px;
        
        }
        .des2 .d_22{
          color: 777777;
          font-size: 15px;
        }
        .des2 .d_23{
          color: #f89d36;
          font-size: 16px;
        }
        
        .des3{
          display: inline;
          border-top-right-radius: 50px;
          width: calc(100%/3);
          height: calc(100%);
          position: relative;
          left: 22px;
          top: 14px;
        }
        .des3 .d_31{
          color: black;
          font-size: 20px;
        
        }
        .des3 .d_32{
          color: 777777;
          font-size: 15px;
        }
        .des3 .d_33{
          color: #f89d36;
          font-size: 16px;
        }
      }
      /* ----------------------------------------------------------------------------END OF Media 360px Landing Page-------------------------------------------------------------- */
    


/* ------------------------------------------------------------About Us-------------------------------------------------------- */

@media screen and (max-width:460px) and (min-width:360px){

    .AboutMe{
      width: 400vw;
      height: 425vh;
      position: relative;
    }
    .description2{
      position: relative;
      width: 100%;
      height: 100%;
      left: 10em;
    }
    .desabout{
      font-family: 'Dosis';
      font-size: 48px;
      /* text-shadow: 4px 4px 4px #aaa; */
      position: absolute;
      left: 26%;
      top: 0;
      right: 0;
      margin: auto;
      font-size: 133px;
    
    
    }
    .desme{
      font-family: 'Dosis', arial;
      font-size: 48px;
      /* text-shadow: 4px 4px 4px #aaa; */
      position: absolute;
      left: 51%;
      top: 0;
      right: 0;
      margin: auto;
      font-size: 133px;
    }
    .bar1{
      position: absolute;
      left: 35%;
      top: 149px;
      margin: auto;
      width: 325px;
      height: 14px;
      background-color: #f89d36;
    }
    .myPhoto > img{
      position: absolute;
      width: 68em;
      height: auto;
      left: -1em;
      top: 109em;
      right: 0;
      margin: auto;
      border-radius: 124px;
      z-index: 9;
      
    
    }
    .myPhoto > img:hover{
      animation: shake 3s ease-in;
    }
    @keyframes shake{
      0%{}
      25%,
      50%,
      75%{
          transform: translate(.1em);
          box-shadow: 0px 7px 9px rgb(94, 87, 87);
      }
      10%,
      35%,
      60%{ transform: translate(-.1em);}
      85%,
      100%{transform: translate(0);}
    }
    .myphotoborder{
      position: absolute;
      width: 70em;
      height: 100em;
      left: 2em;
      top: 109em;
      right: 0;
      margin: auto;
      border-radius: 124px;
      border: 5px solid#cccccc;
    }
    .aboutus{
      position: absolute;
      width: 655px;
      height: 57%;
      right: 181px;
      top: 153px;
      margin: auto;
    }
    .aboutus_name{
      font-family: 'Dosis';
      font-size: 5.8em;
      color: #f89d36;
      position: relative;
      right: 5.2em;
      top: 2.7em;
    
    }
    .aboutus_job1{
      font-family: 'Sniglet', cursive;
      position: relative;
      display: inline;
      font-size: 4em;
      top: 4em;
      left: -7.5em;
      right: -3em;
  
    }
    .aboutus_job2{
      font-family: 'Sniglet', cursive;
      position: relative;
      display: inline;
      font-size: 3em;
      top: 5.3em;
      left: -9.5em;
      right: -3em;
      width: 112em;
  
    }
    .aboutus_me{
      font-family: 'Advent Pro', sans-serif;
      font-family: 'Merienda', cursive;
      font-size: 3.2em;
      position: relative;
      left: -9.2em;
      top: 6em;
      width: 24em;
      
    
    }
    .aboutu_img >img{
      position: relative;
      width: 47em;
      height: auto;
      top: 19em;
      left: -40em;
    }
    
    .aboutu_cv1{
      position: relative;
      width: 27em;
      height: 10em;
      top: 16em;
      left: -29em;
      background-color:#f89d36 ;
      border:1px solid #f89d36;
      border-radius: 7px;
    }
    .aboutu_cv1 >h2{
      font-size: 5em;
      position: relative;
      top: -29px;
    
    }
    .aboutu_con1{
      position: relative;
      width: 27em;
      height: 10em;
      top: 6em;
      left: 4em;
      border:1px solid #f89d36;
      border-radius: 7px;
    }
    .aboutu_con1 >h2{
      color: #f89d36;
      font-size: 5em;
      position: relative;
      top: -29px;  
    }
  }
  


  /*-----------------------------------------------------------------END OF Media phone 360px landing page------------------------------------------------------------------ */


/* ---------------------------------------------------------------------skills-------------------------------------------------------- */ 
/*------------------------------------------------------------------- Media Guery OF 414px SKill page ------------------------------------------------------------- */

@media screen and (max-width:460px) and (min-width:360px){
    .skills{
      position: relative;
      width: 401vw;
      height: 329vh;
  }
  .skill_tag h2{
      font-family: 'Dosis';
      font-size: 48px;
      /* text-shadow: 4px 4px 4px #aaa; */
      position: absolute;
      width: 100%;
      height: 100%;
      left:9%;
      top: 0;
      right: 0;
      margin: auto;
      font-size: 133px;
  }
  .skills_img{
    display: none;
  }
  .skills_img .skill_man{
      position: relative;
      width: 357px;
      height: 420px;
      left: 82px;
      top: 171px;
      margin: auto;
  }
  .skills_img .skill_man1{
      position: relative;
      width: 161px;
      height: 116px;
      left: -316px;
      top: 135px;
      margin: auto;
      animation: glow2 2s ease-in infinite alternate;
  }
  
  .skills_img .skill_man2{
      position: relative;
      width: 0;
      height: 0;
      left: -407px;
      top: 108px;
      margin: auto;
  }
  .skills_img .skill_man3{
      position: relative;
      width: 94px;
      height: 69px;
      left: -542px;
      top: 31px;
      margin: auto;
  }
  
  .skills_img .skill_man4{
      position: relative;
      width: 128px;
      height: 85px;
      left: -270px;
      top: 108px;
      margin: auto;
      animation: shake1 3s ease-in infinite alternate;
  }
  @keyframes shake1{
      0%{}
      25%,
      50%,
      75%{
          transform: translate(.1em);
      
      }
      10%,
      35%,
      60%{
          transform: translateX(-.4em);
           transform: translateY(-.2em);
      }
      85%,
      100%{transform: translate(0);}
  }
  .skills_img .skill_man5{
      position: relative;
      width: 83px;
      height: 57px;
      left: -475px;
      top: 185px;
      margin: auto;
      animation: shake2 3s ease-in infinite alternate;
  }
  
  @keyframes shake2{
      0%{opacity: 0.6;}
      25%,
      50%,
      75%{
          transform: translate(.6em);
          opacity: 0.9;
      
      }
      10%,
      35%,
      60%{
          transform: translateX(-.2em);
           transform: translateY(-.2em);
      }
      85%,
      100%{transform: translate(0);
          opacity: 0.9;}
  }
  .skills_img .skill_man6{
      position: relative;
      width: 246px;
      height: 138px;
      left: -526px;
      top: -32px;
      margin: auto;
      animation: glow1 2s ease-in infinite alternate;
  }
  @keyframes glow1{
      0%{}
      25%{ box-shadow: 0 0 10px #2196f3, 0 0 25px #2196f3, 0 0 50px #2196f3 ;}
      50%{}
      75%{ box-shadow: 0 0 10px #2196f3, 0 0 25px #2196f3, 0 0 50px #2196f3 ;}
      100%{}
  }
  .skills_img .skill_man7{
      position: relative;
      width: 0px;
      height: 75px;
      left: -607px;
      top: 108px;
      margin: auto;
  }
  .skills_img .skill_man8{
      position: relative;
      width: 91px;
      height: 59px;
      left: -1094px;
      top: -221px;
      margin: auto;
      animation: shake3 3s ease-in infinite alternate;
  }
  @keyframes shake3{
      0%{
          opacity: 0.6;
      }
      25%,
      50%,
      75%{
          transform: translateX(-.3em);
          transform: translateY(-.3em);
          opacity: 0.9;
      
      }
      10%,
      35%,
      60%{
          transform: translateX(-.1em);
           transform: translateY(-.1em);
      }
      85%,
      100%{transform: translate(0);}
  }
  .bar2{
    position: absolute;
    left: 23%;
    top: 12em;
    margin: auto;
    width: 52em;
    height: 13px;
    background-color: #f89d36;
  }
  .bar3{
    position: absolute;
    left: 789px;
    top: 63px;
    margin: auto;
    width: 18px;
    height: 18px;
    background-color:#f89d36 ;
    transform: rotate(45deg);
    
  }
  .sklills_bar{
    position: absolute;
    right: 0;
    top: 170px;
    margin: auto;
    width: 850px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
  }
  /* .java{border: 2px solid red;}
  .css{border: 2px solid red;}
  .html{border: 2px solid red;}
  .js{border: 2px solid red;}
  .node{border: 2px solid red;}
  .sql{border: 2px solid red;}  */
  
  .java_img img{
    width: 15em;
    height: auto;
    top: 176px;
    left: -34em;
    position: relative;
  }
  .java_txt h2{
    position: relative;
    top: -60px;
    left: 75px;
    font-size: 20px;
    width: 100%;
    height: 100%;
  
  }
  .progres1{
    position: relative;
    top: -9em;
    width: 283%;
    height: 59px;
    left: -31em;
    right: -22em;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rebeccapurple;
  
  }
  .progress-bar1{
    width: 90%;
    height: 12px;
    border-radius: 30px;
    transition: 0.4s linear;
    background-color:  #CF5353;
    animation: progress 5s 1 ;
  }
  
  @keyframes progress{
    0%{
        width: 0%;
        background:  #CF5353;
  
    }
    100%{
        width: 90%;
        background:  #CF5353;
        box-shadow: 0 0 40px  #CF5353;
    }
  }
  .loader1{
    --p:90;
    animation: p 5s steps(1) 1;
    counter-reset: p var(--p);
    font-size: 21px;
    position: absolute;
    bottom: 23px;
    left: 258px;
  
    
  }
  .loader1::after{
    content: counter(p) "%";
  }
  @keyframes p{
    0%{--p:0}
    20%{--p:20}
    30%{--p:30}
    40%{--p:40}
    50%{--p:50}
    60%{--p:60}
    70%{--p:70}
    80%{--p:80}
    90%{--p:90}
    100%{--p:90}
  }
  .css_img img{
    width: 15em;
    height: auto;
    top: 62em;
    left: -58em;
    position: relative;
  }
  .css_txt h2{
    position: relative;
    top: -60px;
    left: 75px;
    font-size: 20px;
    width: 100%;
    height: 100%;
  
  }
  .progress2{
    position: relative;
    top: 43em;
    width: 283%;
    height: 59px;
    left: -56em;
    right: -22em;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rebeccapurple;
  }
  .progress-bar2{
    width: 80%;
    height: 12px;
    left: 20px;
    border-radius: 30px;
    transition: 1s linear;
    background-color: #1c88c7 ;
    animation: progres2 5s 1;
  
  }
  @keyframes progres2{
    0%{
        width: 0%;
        background:  #1c88c7;
  
    }
    100%{
        width: 80%;
        background:  #1c88c7;
        box-shadow: 0 0 40px   #1c88c7;
    }
  }
  .html_img img{
    width: 15em;
    height: auto;
    top: 16em;
    left: -31em;
    position: relative;
  }
  .html_txt h2{
    position: relative;
    top: -60px;
    left: 75px;
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
  .progress3{
    position: relative;
    top: -3em;
    width: 283%;
    height: 59px;
    left: -29em;
    right: -22em;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rebeccapurple;
  }
  .progress-bar3{
    width: 85%;
    height: 12px;
    border-radius: 30px;
    transition: 0.4s linear;
    background-color:  #FF6C39;
    animation: progress3 5s 1 ;
  }
  @keyframes progress3{
    0%{
        width: 0%;
        background:  #CF5353;
  
    }
    100%{
        width: 85%;
        background:  #CF5353;
        box-shadow: 0 0 40px  #CF5353;
    }
  }
  .js_img img{
    width: 15em;
    height: auto;
    top: 67em;
    left: -57em;
    position: relative;
  }
  .js_txt h2{
  
    position: relative;
    top: -60px;
    left: 75px;
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
  .progress4{
    position: relative;
    top: 48em;
    width: 283%;
    height: 59px;
    left: -55em;
    right: -22em;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rebeccapurple;
  }
  .progress-bar-4{
    width: 95%;
    height: 12px;
    border-radius: 30px;
    transition: 0.4s linear;
    background-color:  #CF5353;
    animation: progress4 5s 1 ;
  }
  @keyframes progress4{
    0%{
        width: 0%;
        background:  #CF5353;
  
    }
    100%{
        width: 95%;
        background:  #CF5353;
        box-shadow: 0 0 40px  #CF5353;
    }
  }
  .node_img img{
    width: 15em;
    height: auto;
    top: 68em;
    left: -29em;
    position: relative;
  }
  .node_txt h2{
    position: relative;
    top: -60px;
    left: 75px;
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
  .progress5{
    position: relative;
    top: 44em;
    width: 283%;
    height: 59px;
    left: -28em;
    right: -22em;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rebeccapurple;
  }
  .progress-bar5{
    width: 70%;
    height: 12px;
    border-radius: 30px;
    transition: 0.4s linear;
    background-color: #4CAF50;
    animation: progress5 5s 1 ;
  }
  @keyframes progress5{
    0%{
        width: 0%;
        background: #4CAF50;
  
    }
    100%{
        width: 70%;
        background: #4CAF50;
        box-shadow: 0 0 40px  #4CAF50;
    }
  }
  .sql_img img{
    width: 15em;
    height: auto;
    top: 89em;
    left: -55em;
    position: relative;
  }
  .sql_txt h2{
    position: relative;
    top: -60px;
    left: 75px;
    font-size: 20px;
    width: 100%;
    height: 100%;
  
  }
  .progress6{
    position: relative;
    top: 71em;
    width: 283%;
    height: 59px;
    left: -55em;
    right: -22em;
    border-radius: 30px;
    background-color: white;
    border: 2px solid rebeccapurple;
  }
  .progress-bar6{
    width: 272px;
    height: 12px;
    border-radius: 30px;
    transition: 0.4s linear;
    background-color:  #E39123;
    animation: progress 5s 1 ;
  }
  @keyframes progress{
    0%{
        width: 0%;
        background:   #E39123;
  
    }
    100%{
        width: 90%;
        background:  #E39123;
        box-shadow: 0 0 40px   #E39123;
    }
  }
   }
  
   /*------------------------------------------------------------------- Media Guery OF 360px SKill page ------------------------------------------------------------- */
  

   /* ----------------------------------------------------------------------------Hobbies--------------------------------------------------------------------------- */
   
  /* ---------------------------------------------------------------------------Media 360px  HObbies-------------------------------------------------------------------------------------- */

  @media screen and (max-width:460px) and (min-width:360px){
    .hobbies{
      position: relative;
      width: 401vw;
      height: 241vh;
    }
    .hob-name{
      font-family: 'Dosis';
      font-size: 48px;
      /* text-shadow: 4px 4px 4px #aaa; */
      position: absolute;
      width: 400%;
      height: 100%;
      left: 13%;
      top: -2em;
      right: 0;
      margin: auto;
      font-size: 90px;
    }
    .hob-line2{
      position: absolute;
      left: 26%;
      top: 8em;
      margin: auto;
      width: 45em;
      height: 1em;
      background-color: #f89d36;
    }
    .hob-line3{
      position: absolute;
      display: none;
      left: 789px;
      top: 63px;
      margin: auto;
      width: 18px;
      height: 18px;
      background-color:#f89d36 ;
      transform: rotate(45deg);
    }
    .hob-description{
      position: absolute;
      top: 163px;
      left: 9%;
      margin: auto;
      width: 18em;
      height: 100px;
      font-size: 4.2em; 
    
    }
    .Blog-1{
      position: relative;
      width: 50em;
      height: 16em;
      left: 24em;
      top: 39em;
    
    }
    .blog-Year-1{
      font-size: 3.2em;
      position: relative;
      left: -5em;
    }
    .blog-index-1{
      color: #009688;
      margin: -0 17px 15px 0;
      font-size: 4em;
      position: relative;
      left: -4em;
      top: -1em;
    }
    .blog-published-1{
      font-size: 3.2em;
      position: relative;
      left: -5em;
      top: -1em;
    }
    .blog-index-3{
      color: #009688;
      margin: -0 17px 15px 0;
      font-size: 4em;
      position: relative;
      left: -4em;
      top: 0em;
  }
    
    .blog-published-3{
      font-size: 3.2em;
      position: relative;
      left: -5em;
      top: 0em;
    }
    .Blog-2{
      position: relative;
      width: 50em;
      height: 16em;
      left: 24em;
      top: 11em;
    }
    .blog-Year-2{
      font-size: 3.2em;
      position: relative;
      left: -5em;
      top: 16em;
    }
    .blog-index-2{
      color: #009688;
      margin: -0 17px 15px 0;
      font-size: 4em;
      position: relative;
      left: -4em;
      top: 12em;
    }
    .blog-published-2{
      font-size: 3.2em;
      position: relative;
      left: -5em;
      top: 15em;
    }
    }
  
     /* ---------------------------------------------------------------------------Media 360px  HObbies-------------------------------------------------------------------------------------- */
  
  /*  -----------------------------------------------------------------------Media 360px Creative Works------------------------------------------------------------------- */

  @media screen and (max-width:460px) and (min-width:360px){

    .creative-works {
      position: relative;
      width: 437vw;
      height: 698vh;
      left: -14em;
  }
    div.container{
      margin: 50px;
      position: relative;
      width: 70%;
      left: 22em;
  
  }
      div.category button{
        margin: 10px;
        padding: 5px 10px;
        font-size: 58px;
    }
      div.category button{
        margin: 10px;
        border: none;
        outline: none;
        padding: 10px 20px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        color: rgb(114, 114, 114);
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 10px;
        background-color: rgb(236, 236, 236);
    }
      .work-name{
        font-family: 'Dosis';
        font-size: 48px;
        /* text-shadow: 4px 4px 4px #aaa; */
        position: absolute;
        width: 100%;
        height: 100%;
        left: 16%;
        height: 1em;
        top: -1.7em;
        right: 0;
        margin: auto;
        font-size: 133px;
      }
      .work-line1{
        position: absolute;
        left: 28%;
        top: -4em;
        margin: auto;
        width: 41em;
        height: 14px;
        background-color: #f89d36;
      }
      .work-line2{
        display: none;
        position: absolute;
        left: 756px;
        top: 63px;
        margin: auto;
        width: 18px;
        height: 18px;
        background-color:#f89d36 ;
        transform: rotate(45deg);
      }
.product {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 23%;
}
.product div {
  width: 100%;
  height: auto;
  margin: 10px;
}
.product div img {
  width: 100%;
  height: 51em;
  transition: .2s;
}
      input{
        display: none;
      }
      .tag{
        font-size: 5.2em;
        margin: 1.5rem 0.3em;
        padding: 2px 1.2rem;
        border-radius: 5px;
        position: relative;
        top: 256px;
        left: 14%;
        background-color: white;
        display: inline-block;
        color: black;
        cursor: pointer;
        border: 1px solid black;
      }
      .nav-img {
        width: 1005px;
        height: 200px;
        position: relative;
        left: 19%;
        top: 197px;
        transition: all .4s ease-in-out;
        border-radius: 5px;
      
      }
      .nav-img #anmation1{
        position: relative;
        left: -72px;
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        width: 33em;
        top: 9em;
        height:55px;
        border-radius: 5px;
      }
    
      .nav-img #anmation1:hover{
      filter: grayscale(50%);
      }
      .nav-img #anmation2{
        width: 33em;
        height: 45em;
        bottom: 579px;
        left: 475px;
        position: relative;
        border-radius: 5px;
       
      }
      .nav-img #assignment1{
        width: 33em;
        height: 45em;
        border-radius: 5px;
        position: relative;
        bottom: 555px;
        left: -72px;
      
      }
      .nav-img #project2{
        width: 33em;
        height: 45em;
        position: relative;
        top: -80em;
        left: 475px;
        border-radius: 5px;
      }
      .nav-img #project3{
        width: 33em;
        height: 45em;
        position: relative;
        bottom: 79em;
        left: 475px;
        border-radius: 5px;
      }
      .nav-img #project4{
        width: 33em;
        height: 45em;
        position: relative;
        bottom: 124em;
        right: 72px;
        border-radius: 5px;
      
      }
      
      #nav-projects:checked ~ .nav-img > img:not([class *="nav-projects"]),
      #nav-ass:checked ~ .nav-img > img:not([class *="nav-ass"]),
      #nav-anime:checked ~ .nav-img > img:not([class *="nav-anime"]){
        width: 0;
        height: 0;
      }
      #nav-all:checked ~ .all,
      #nav-projects:checked ~ .projects,
      #nav-ass:checked ~ .ass,
      #nav-anime:checked ~ .anime{
        background-color: #f89d36;
        color: white;
      }
      .works-button{
        width: 23em;
        height: 8em;
        position: relative;
        bottom: -130em;
        left: 0%;
        margin: auto;
        border: 1px solid #f89d36;
        padding: 2px 1.2rem;
      }
      .works-button h2{
        color: #f89d36;
        font-size: 3em;
      
      }
    }
  
    /*  -----------------------------------------------------------------------Media 360px Creative Works------------------------------------------------------------------- */
  
     
   /*  --------------------------------------------------------------------------------Media Of 360px projectMind -------------------------------------------------------------------------------- */
   @media screen and (max-width:460px) and (min-width:360px){
  .projectMind{
    position: relative;
    /* background-color: darkblue; */
    width: 400vw;
    height: 69vh;
  }


  .prj-Mind-img{
    width: 100%;
    height: 560px;
    position: absolute;
  }
      
.prj-mnd-Title{
  z-index: 5;
  position: absolute;
  left: 4%;
  width: 19em;
  top: 62px;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  font-size: 4.8em;
}

.prj-mind-body{
  z-index: 5;
  position: absolute;
  left: 5%;
  top: 184px;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  font-size: 3.3em;
}
.prj-mind-button{
  z-index: 5;
  position: absolute;
  left: -3%;
  top: 289px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 7em;
  height: 115px;
  border-radius: 3em;
  cursor: zoom-in;
  background-color: #f89d36;
  font-weight: 700;
  font-size: 3em;
  
}
 }

 /*  --------------------------------------------------------------------------------END Of Media 360px OfprojectMind -------------------------------------------------------------------------------- */

 /* --------------------------------------------------------------------------------media Of 360px  Contact US-------------------------------------------------------------------------------- */
 
 @media screen and (max-width:460px) and (min-width:360px){
  .Contact-Us{

    position: relative;
    width: 400vw;
    height: 331vh;
    
  
  
   }
   .set-Title{
     position: relative;
     left: 48px;
   }
   .Cont-Title-1{
    font-family: 'Dosis';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 29%;
    top: 0;
    right: 0;
    margin: auto;
    font-size: 103px;
   }
   .Cont-Title-2{
    font-family: 'Dosis';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 54%;
    top: 0;
    right: 0;
    margin: auto;
    font-size: 103px;
   }
   .con-line1{
    position: absolute;
    left: 36%;
    top: 145px;
    margin: auto;
    width: 22em;
    height: 13px;
    background-color: #f89d36;
  }
  .con-line2{
    position: absolute;
    left: 706px;
    top: 49px;
    margin: auto;
    width: 18px;
    height: 18px;
    background-color:#f89d36 ;
    transform: rotate(45deg);
    display: none;
  }
  .con-Zt-Menu{
    position: absolute;
    top: 172px;
    width: 400vw;
    height: 16em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .con-img-1 {
    position: relative;
    width: calc(400vw/2);
    height: 223px;
  
  }
  .con-img-phone{
    width: 9em;
    position: absolute;
    top: 0;
    left: 45%;
  }
  .con-img-name-1{
    position: absolute;
    top: 141px;
    left: 45%;
    font-size: 2.4em;
  }
  .con-img-body-1{
    position: absolute;
    top: 218px;
    left: 26%;
    font-size: 34px;
  }
  .con-contOpt-1{
    position: absolute;
    top: 398px;
    left: 37%;
    font-size: 2.5em;
}
  
  .con-img-2 {
    position: relative;
    width: calc(400vw/2);;
    height: 223px;
  
  }
  .con-img-phone2{
    width: 9em;
    position: absolute;
    top: 0;
    left: 45%;
  }
  .con-img-name-2{
    position: absolute;
    top: 141px;
    left: 45%;
    font-size: 2.4em;
  }
  .con-img-body-2{
    position: absolute;
    top: 218px;
    left: 26%;
    font-size: 34px;
  }
  .con-contOpt-2{
    position: absolute;
    top: 398px;
    left: 37%;
    font-size: 2.5em;
}
  
  .con-img-3 {
    position: relative;
    width: calc(200px);
    height: 223px;
    left: -12em;
  }
  .con-img-phone3{
    width: 9em;
    position: absolute;
    top: 28em;
    left: -42em;
  }
  .con-img-name-3{
    position: absolute;
    top: 16em;
    left: -17em;
    font-size: 2.4em;
  }
  .con-img-body-3{
    position: absolute;
    top: 20em;
    left: -26.5em;
    font-size: 34px;
  }
  .con-contOpt-3{
    position: absolute;
    top: 16.3em;
    left: -15em;
    font-size: 3em;
  }
  .con-My-img{
    position: absolute;
    top: 324px;
    width: calc(100vw/2);
    height: 403px;
    display: none;
  
  }
  .my-photo-con{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  .con-social-gitHub{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 19em;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-social-twitter{
    position: absolute;
    top: 0;
    left: 0;
    right: 18em;
    bottom: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-social-slack{
    position: absolute;
    top: 0;
    left: 18em;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-social-facebook{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -18em;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-social-instagram{
    position: absolute;
    top: -13em;
    left: 0;
    right: 13em;
    bottom: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-social-linkdin{
    position: absolute;
    top: 0;
    left: 13em;
    right: 0;
    bottom: 13em;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-social-stackoverflow{
    position: absolute;
    top: 13em;
    left: 0;
    right: 13em;
    bottom: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-social-youtube{
    position: absolute;
    top: 13em;
    left: 13em;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 1px solid green;
  
  }
  .con-submit{
    position: absolute;
    top: 70em;
    left: 18.7em;
    width: 72em;
    height: 392px;

  }
  
  .form-1{
    position: relative;
    width: 16.5em;
    height: 2.9em;
    margin: 18px 0 0 43px;
    border-color: rgb(175, 175, 175);
    display: inline;
    border-radius: 16px;
    color: black;
    font-size: 4em;
  }
  .form-2{
    position: relative;
    width: 16.5em;
    height: 2.9em;
    margin: 18px 0 0 43px;
    border-color: rgb(175, 175, 175);
    display: inline;
    border-radius: 16px;
    color: black;
    font-size: 4em;
  }
  .form-4{
    position: relative;
    width: 16.5em;
    height: 2.9em;
    margin: 18px 0 0 43px;
    border-color: rgb(175, 175, 175);
    display: inline;
    border-radius: 16px;
    color: black;
    font-size: 4em;
  }
  .form-5{
    position: relative;
    width: 16.5em;
    height: 10.9em;
    margin: 18px 0 0 43px;
    border-color: rgb(175, 175, 175);
    display: inline;
    border-radius: 16px;
    color: black;
    font-size: 4em;
  }
  .form-6{
    position: relative;
    width: 6.2em;
    height: 2.3em;
    display: inline;
    background-color: #f89d36;
    margin: 21x 1px 15px 10px;
    color: white;
    border-radius: 16px;
    left: 7.5em;
    right: 0px;
    top: 60px;
    font-size: 51px;
  }

}
@media screen and (max-width:460px) and (min-width:360px){
  footer{
    position: relative;
    width: 403vw;
    height: 192px;
    background: #868686;
  }
   
  .footer-name{
    position: absolute;
    font-size: 4.2em;
    left: 11em;
    right: 0;
    top: 21px;
    height: 0;
    margin: auto;
  }
  .footer-name1{
    position: absolute;
    font-size: 3em;
    left: 15em;
    right: 0;
    top: 0;
    height: 0;
    margin: auto;
    color: #f89d36;
  }
  .footer-name2{
    position: absolute;
    font-size: 2.6em;
    left: 9em;
    right: 0;
    top: 104px;
    height: 0;
    margin: auto;
  }
}